!*.dpi: 157
!Xft.dpi: 157
Xft.dpi: 120
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

#include ".colors/tomorrow-night"

*.font: Hack:pixelsize=16:antialias=true:autohint=true;
*.opacity: 248

urxvt*font: xft:Hack
