!*.dpi: 157
!Xft.dpi: 157
Xft.dpi: 120
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

#include ".colors/tomorrow-night"

st.font: 	Hack:size=10:antialias=true:autohint=true;
st.opacity: 250
